
body {
    padding-top: 54px;
}

#navbarResponsive{
	margin-right: 50px;

}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
#menuhe{
	background-color: #A7CFFC; 
	border-collapse: collapse;
    border-bottom: 1px solid #75B6FF; 


}


.topbar{

	background-color: #75B6FF;
	padding: 5px 0;
	/* color:#fff; */
	font-size: 11px !important;
	text-align:right;
}
.topbar >.container >.row {
    margin: 0;
	padding:0;
}
.topbar >.container> .row >.col-md-12 { 
	padding:0;
}
.topbar >p{
	margin:0;
	display:inline-block;
	font-size: 11px;
	color: #f1f6ff;
}
.topbar >p > i{
	margin-right:5px;
	color: #fdd428;
}
.topbar >p>.pull-right{
	text-align:right;
} 
.collapse { border-color: #4A7AFF;}
.navbar { background-color: #75B6FF;}
.navbar .navbar-brand>.active>a:hover,.navbar .navbar-collapse>ul>li>a:hover, .navbar .navbar-collapse>li>a:focus, .nav-link:hover, .nav-link:focus { background-color: #4A7AFF}
.navbar .navbar-brand>.active>a,.navbar .navbar-collapse>.open>a,.navbar .navbar-collapse>.open>a, .nav-link>.open>a:hover,.nav-link>.open>a, .nav-link>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #443DFF}
.dropdown-menu { background-color:  #75B6FF;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #4A7AFF;}
.navbar { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }

.navbar .navbar-collapse { color: #0F0F0F;}
.navbar .navbar-collapse:hover, .nav-link:hover, .nav-link:focus { color: #FFFFFF;}
.navbar .navbar-collapse>li>a, .nav-link, .nav-link { color: #FFFFFF;}
.navbar .navbar-colapse>li>a:hover, .nav-link:focus { color: #FFFFFF;}
.navbar .navbar-collapse>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.nav-link>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF;}
.dropdown-menu>li>a { color: #FFFFFF;}
.nav-item>.active{ color: #FFFFFF;
					background-color: #4A7AFF
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF;}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF;}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999;}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF;}

